In [2]:
import numpy as np
import pandas as pd

In [3]:
dataset = pd.read_csv('amazon_prime_original.csv')

In [4]:
dataset.head()

     Movie Name  ...                                               Plot
0    John Rambo  ...  In Thailand, John Rambo joins a group of merce...
1  American Pie  ...  You'll never look at warm apple pie the same w...
2     Bombshell  ...  The provocative real story of three smart, amb...
3    Love Birds  ...  After accidentally meeting, Mridula (Nagma) an...
4         Hippi  ...  Hippi is about the live-in relationship betwee...

[5 rows x 7 columns]

In [5]:
dataset.isnull().sum()

Movie Name         0
Language           0
IMDb Rating        0
Running Time       0
Year of Release    0
Maturity Rating    0
Plot               5
dtype: int64

In [13]:
dataset.isna().sum()

Movie Name         0
Language           0
IMDb Rating        0
Running Time       0
Year of Release    0
Maturity Rating    0
dtype: int64

In [6]:
dataset.drop(labels='Plot', axis=1, inplace=True)

In [7]:
preprocessed_data = dataset.sample(n=1923, random_state=7)

In [8]:
preprocessed_data['IMDb Rating']

7635       7
2684    None
6453     7.4
4361    None
1831     7.5
        ...
4738    None
4991     8.2
5299     7.3
5817     8.1
4243     6.4
Name: IMDb Rating, Length: 1923, dtype: object

In [11]:
def to_float(x):
  return 0.0 if x == None or 'None' else float(x)

def to_int(x):
  return 0 if x == None or 'None' else int(x)

def to_min(x):
  try:
    return int(x)
  except:
    if 'm' in x:
      return int(x.split('m')[0])
    return int(x.split('h')[0])

In [12]:
preprocessed_data['IMDb Rating'] = preprocessed_data['IMDb Rating'].apply(to_float)
preprocessed_data['Year of Release'] = preprocessed_data['Year of Release'].apply(to_int)
preprocessed_data['Running Time(in min)'] = preprocessed_data['IMDb Rating'].apply(to_min)

In [14]:
preprocessed_data.to_json('amazon_refined_final.json', orient='records')