In [1]:
import numpy as np
import pandas as pd

In [2]:
dataset = pd.read_csv('netflix_titles_original.csv')

In [3]:
dataset.shape

(7787, 12)

In [4]:
dataset.isnull().sum()

show_id            0
type               0
title              0
director        2389
cast             718
country          507
date_added        10
release_year       0
rating             7
duration           0
listed_in          0
description        0
dtype: int64

In [5]:
dataset[['show_id', 'director', 'title', 'date_added']].loc[:10]

   show_id           director  title         date_added
0       s1                NaN     3%    August 14, 2020
1       s2  Jorge Michel Grau   7:19  December 23, 2016
2       s3       Gilbert Chan  23:59  December 20, 2018
3       s4        Shane Acker      9  November 16, 2017
4       s5     Robert Luketic     21    January 1, 2020
5       s6        Serdar Akar     46       July 1, 2017
6       s7    Yasir Al Yasiri    122       June 1, 2020
7       s8     Kevin Reynolds    187   November 1, 2019
8       s9      Shravan Kumar    706      April 1, 2019
9      s10       Vikram Bhatt   1920  December 15, 2017
10     s11       Zak Hilditch   1922   October 20, 2017

In [11]:
dataset.dropna(axis=0, how='any', inplace=True)

In [12]:
dataset['date_added'] = dataset['date_added'].apply(lambda x: x.strip())
dataset['date_added'] = pd.to_datetime(dataset['date_added'], format='%B %d, %Y')

In [13]:
dataset.head()

  show_id  ...                                        description
1      s2  ...  After a devastating earthquake hits Mexico Cit...
2      s3  ...  When an army recruit is found dead, his fellow...
3      s4  ...  In a postapocalyptic world, rag-doll robots hi...
4      s5  ...  A brilliant group of students become card-coun...
5      s6  ...  A genetics professor experiments with a treatm...

[5 rows x 12 columns]

In [14]:
preprocessed_data = dataset.sample(n=2192, random_state=7)

In [15]:
preprocessed_data.to_csv('netflix_refined.csv', index=False)